aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
    width: 100%;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 15px;
    border-radius: 5px;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        height: 100%;
    }

    .menu i {
        display: inline;
        padding: 0px;
        margin: 0px; 
    }

    .menu {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-around;
    }
    
    .dropdown:hover .drop-item a {
        display: block;
        background-color: #1A2F3A;
        border-radius: 7px;
    }

    .dropdown:hover{
        background-color: #1A2F3A;
        border-radius: 7px;
    }

    .drop-item a{
        display: none;
    }

    #seta-dropdown-membros {
        display: flex;
        flex-direction: column;
    }
}

.menu a .fa {
    margin-right: 10px;
}

.menu a .fa.fa-caret-down,
.menu a .fa.fa-caret-up {
    margin-left: 10px;
    margin-right: 10px;
}

.menu .drop-item {
    display: none;
    
}

.menu .drop-item.open {
    display: block;
}

.menu .drop-item a {
    padding-left: 45px;
}